{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IA Detección de Animales{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    
    {% block extra_head %}{% endblock %}
</head>
<body>

    <header>
        <h1>Visión IA: Clasificación de Fauna</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 Motor de Inferencia IA para Biodiversidad.</p>
    </footer>

</body>
</html>